body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
}
.header {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 832px;
}
.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p, .header{
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.content div{
    height: 350px;
}

.main-text {
    width: 400px;
}
.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.subsection-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.section-3 {
    background-color: #E5E7EB;
}
.section-2, .section-4 {
    background-color: #ffffff;
}

.section-1 button {
    border: none;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    flex: 0 0 auto;
    width: 120px;
}

.main-text, .secondary-text {
    margin: 0 0 16px 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
img {
    width: auto;
    height: 225px;
}