body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
}

.header {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 832px;
}
.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p, .header{
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.section-1, .section-2, .section-3, .section-4{
    height: 450px;
}

.main-text {
    width: 400px;
}
.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.subsection-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.section-3 {
    background-color: #E5E7EB;
}
.section-2, .section-4 {
    background-color: #ffffff;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section-1 button {
    border: none;
}

button {
    background-color: #3882F6;
    padding: 8px 0px;
    border-radius: 8px;
    color: white;
    flex: 0 0 auto;
    width: 110px;
    font-weight: bold;
}

.main-text, .secondary-text {
    margin: 0 0 16px 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}
.secondary-text, .item-text {
    font-size: 18px;
    color: #E5E7EB;
}
.section-1 img {
    width: auto;
    height: 225px;
}

.info-heading {
    padding-top: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.item-container {
    display: flex;
    gap: 40px;
}

.item {
    border-radius: 8px;
}

.item img {
    border: 3px solid #3882F6; 
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
.item-text{
    color: grey;
    width: 156px;
}